*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, blue,white);
}
.container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-size: 5rem;
}
#wrapper{
    border : solid 3px white;
    padding: 1rem;
}